@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #d8d8d8;
}


.gog-logo {
    width: 40px; 
    height: 40px;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
}

.subtitle-container {
    border-bottom: 1px solid rgba(102, 102, 102, 0.713);
    margin-bottom: 1rem;
}

.card-body {
    background-color: rgb(232, 232, 232);
}

.purple-discount{
    height: 40px;
    width: 80px;
    background-color: blueviolet;
    border-radius: 5px; 
    color: white;
    font-weight: 800;
}

 span.old-price {
    font-size: x-small;
    text-decoration: line-through;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.galaxy-text-logo-container {
    border-top: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);
}



.galaxy-logo-text img {
    width: 50px; 
    height: 50px;
}

